@import '../../setStyle';

.search-wrapper{
    background-color: $bg_header;
    border-radius: 10px;
    margin: 50px 0;
    padding: 40px;
}

@media only screen and (max-width: 600px) {
    .search-wrapper {
        border-radius: 6px;
        margin: 30px 0;
        padding: 30px 16px;
    }
}
