@import '../../setStyle';

.repos-filter{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid $bg_elem_color;
    &__title{
        p{
            font-size: 20px;
            line-height: 1.5;
        }
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
    &__item{
        background-color: $btn_reg_color;
        padding: 7px 15px;
        border-radius: 4px;
        border: 1px solid $btn_reg_border_color;
        font-size: 16px;
        line-height: 1;
        transition: 0.3s ease;
        cursor: pointer;
        font-weight: 500;
        &:hover{
            background-color: $bg_elem_color;
            border-color: #8b949e;
            transition: 0.3s ease;
        }
        &.active{
            background-color: $active_filter_color;
            transition: 0.3s ease;
        }
    }
}

@media only screen and (max-width: 600px) {
    .repos-filter{
        justify-content: space-between;
        padding-bottom: 20px;
        margin-bottom: 30px;
        gap: 7px;
        &__title p{
            font-size: 14px;
            align-self: center;
        }
        &__list{
            gap: 7px;
        }
        &__item{
            text-align: center;
            font-size: 14px;
        }
    }
}