
$btn-hover-bg: rgb(46, 160, 67);
$btn-bg: rgb(35, 134, 54);
.btn{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid $btn-bg;
  border-radius: 6px;
  appearance: none;
  color: rgb(201, 209, 217);
  background-color: $btn-bg;
  transition: 0.3s ease;
  text-align: center;
  &:hover{
    background-color: $btn-hover-bg;
    transition: 0.3s ease;
    border-color: transparent;
  }
}
.img_wrapper {
  line-height: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.app_wrapper{
  position: relative;
}

@media only screen and (max-width: 600px) {
  .btn{
    font-size: 14px;
    padding: 7px 15px;
  }
}